<div>
    I am Athena component!! <3<3<3
    <form>
        <select style="display: block" [(ngModel)]="selectedDepartment" name="department">
            <option [ngValue]="department" *ngFor="let department of departments">{{department.displayName}}</option>
        </select>
        <select style="display: block" [(ngModel)]="showFrozenSlots" name="frozen">
            <option>false</option>
            <option>true</option>
        </select>

        <div>
            <h3>Select multiple cities</h3>
            <ng-select  [multiple]="true"
                        [items]="items"
                        [disabled]="disabled"
                        (data)="refreshValue($event)"
                        (selected)="selected($event)"
                        (removed)="removed($event)"
                        placeholder="No city selected"
                        name="cities"></ng-select>
        </div>
        <button style="display: block" (click)="onScheduleClick()">Schedule appointment</button>
    </form>
</div>
